# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/pipfile
/pipfile.lock
/vcs.xml
/.name
/export_vk.music_to_yandex.music.iml
/inspectionProfiles/profiles_settings.xml
/vk_playlist.txt
